# Checks for typos in the repository
name: typos

on:
  pull_request:
  push:
  workflow_dispatch:

permissions:
  contents: read

env:
  CLICOLOR: 1

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

    - name: spell check repo
      uses: crate-ci/typos@1af53e3774f068183ffd0c7193eb061a2b65a531 # v1.39.1
